/* navbar.module.css */
.nav {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 50px;
  width: 80%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  min-height: 60px;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.linkTag {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}
